.colorPickerBtn{background-image:url(../img/colorPicker/color.png);background-repeat: no-repeat;width: 31px;height: 29px;background-position: center;padding: 1px 2px;float: left;margin: 2px;}
.colorPicker{background: #FAFAFA;width: 120px;padding: 10px;border: 1px solid #666;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);z-index: 100;border-radius: 10px;}
.colorPicker ul {margin: 0;padding: 0;list-style-type: none;zoom: 1;}
.colorPicker ul li{float: left;margin: 0 5px 5px 0;}
.colorPicker ul li:nth-child(4n) {
  margin-right:0;
}
.colorPicker ul li:nth-child(n + 12) {
  margin-bottom:0;
}
.colorPicker ul li a {display: block;width:24px;height: 24px;text-decoration: none;text-indent: -100000px;outline: 0;border: 1px solid #aaa;}