<link rel="icon" HREF="cc.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/css/layout/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/base.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">


<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
<script TYPE="text/javascript" src="/jlib/jquery/jquery-2.0.3.min.js"></script>
<script TYPE="text/javascript" src="/jlib/tcc/js/tccCommon-jquery.js"></script>
 
<link REL="STYLESHEET" TYPE="text/css" HREF="jlib/tcc/css/tccWidget-popin.css">
<script type="text/javascript" src="jlib/tcc/i18n/tccWidget-popin-en_US.js"></script>
<script type="text/javascript" src="jlib/tcc/js/tccWidget-popin.js"></script>

<script type="text/javascript" src="js/tcc/ccCommon.js"></script>